name: lint
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: "Install Rocks"
        run: sudo bash .github/scripts/install_rocks_stable.sh
      - uses: golangci/golangci-lint-action@v3
        with:
          working-directory: dnsrocks
      - run: |
          cd dnsrocks
          go get -v -u github.com/hedhyw/go-import-lint/cmd/go-import-lint
          go run github.com/hedhyw/go-import-lint/cmd/go-import-lint -exclude ./cgo-rocksdb
