name: test_dnswatch
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-24.04
    env:
      GO_LDFLAGS: -lbpf
      CGO_CFLAGS: -I /usr/include/bpf  -I /usr/include/pcap
      CGO_CFLAGS_ALLOW: .*
      CGO_LDFLAGS_ALLOW: .*
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v5
        with:
          go-version: 1.22.3
      - name: "Install deps"
        run: sudo apt-get update; sudo apt-get install -y make clang  gcc-multilib libsystemd-dev libcap-dev libpcap-dev
      - name: "Install libbpf-1"
        run: sudo bash .github/scripts/install_libbpf1.sh
      - name: "Build all"
        run: cd dnswatch; git submodule update --init --recursive; make
      - name: Test
        run: cd dnswatch; git submodule update --init --recursive;  make test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          working-directory: dnswatch
